{% extends 'base.html' %}

{% block title %}Recipe Book: {{ recipe.name }}{% endblock %}

{% block content %}
    <h2>{{ recipe.name }} Ingredients:</h2>
    
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
    
    <p align="center">
        Created by <b>{{ recipe.author.username }}</b> on <i>{{ recipe.created_on }}</i>.
    </p>
    <p align="center">
        Last updated: <i>{{ recipe.updated_on }}</i>
    </p>

    <h2>Images</h2>
    <a href="{% url 'add_image' recipe.id %}" class="upload-button">Upload Image</a>

    <ul>
    {% for img in recipe.images.all %}
        <li><img src="{{ img.image.url }}" alt="{{ img.description }}" style="max-width: 100%;">
        <p><em>{{ img.description }}</em></p></li>
    {% endfor %}    
    </ul>

    <a href="{% url 'recipe_list' %}" class="back-button">Back to Recipes</a>
{% endblock %}